name: CI
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    #  Sundays at 00:00 UTC
    - cron: '0 0 * * 0'
  workflow_dispatch: # Allow manual triggers
permissions:
  contents: read
env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
jobs:
  fmt:
    name: Format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          components: rustfmt
          bins: just
      - name: Check formatting
        run: just fmt-check
  clippy:
    name: Clippy (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          components: clippy
          bins: cargo-hack
      - name: Run clippy
        run: cargo hack clippy --locked --optional-deps --each-feature -- -D warnings
  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          bins: cargo-nextest,just
      - name: Build
        run: just build
      - name: Run tests
        run: |
          just test
  test-wasm:
    name: Test WASM
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          targets: wasm32-unknown-unknown
          bins: wasm-pack
      - name: Test WASM
        run: wasm-pack test --headless --chrome
  check:
    name: Feature Build
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          bins: cargo-hack
      - name: Check
        run: cargo hack check --locked --optional-deps --each-feature
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
      - name: Build documentation (no features)
        run: cargo doc --no-deps --no-default-features --locked
      - name: Build documentation (default features)
        run: cargo doc --no-deps --locked
      - name: Build documentation (all features)
        run: cargo doc --no-deps --all-features --locked
  audit:
    name: Security Audit
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6-beta
        with:
          persist-credentials: false
      - name: Setup rust toolchain, cache, install nextest, just and cargo-llvm-cov
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          channel: nightly
          components: llvm-tools
          cache-target: test
          bins: just,cargo-nextest,cargo-llvm-cov
      - name: Generate coverage
        run: |
          cargo llvm-cov --all-features --no-report nextest
          cargo llvm-cov --all-features --no-report --doc
          cargo llvm-cov report --doctests --lcov --output-path lcov.info
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          file: target/nextest/default/junit.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          report-type: test_results
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          file: lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
